<div class="card border-0 bcg-color">
    <div class="card-body p-8">
        <div class="row justify-content-center userProfile">
            <app-user-image [user]="user"></app-user-image>
            <div class="col- d-flex align-self-center">
                <h2>Név : {{user.username}}<h4>
                    <hr>
                        <p>Email : {{user.email}}</p>
                    </h4>
                </h2>
            </div>
        </div>
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block"
            (click)="isCollapsed = !isCollapsed; getEvents()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
            Események
        </button>
        <div id="collapseExample" [ngbCollapse]="isCollapsed">
            <div app-event-card *ngFor="let event of myEvent" [event]="event"></div>    
        </div>
        <p class="lead"></p>
        <p class="lead mb-0"></p>
    </div>
</div>