.userImg {
    width: 150px;
    height: 150px;
}

.userProfile {
    margin: 50px;
}

.collapseWindow {
    margin-top: 15px;
}

.height {
    height: 50px;
    
}

.bcg-color {
    background-color: #F2CBFE;
}

.container {
    width: 3000px;
}
