img {
    height: 200px;
    width: 300px;
    border-radius: 12px;
}

.message {
    width: 615px;
}

.userMessage {
    width: 615px;
}

.card-header {
    background-color: rgb(196, 211, 223);
    height: 70px;
}

.card-header h2{
    display: inline;
}
.card-header h5 {
    display: inline;
    margin-left: 700px;
}


hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

