img {
    margin-top: 45px;
    margin-left: 30px;
    height: 200px;
    width: 300px;
    border-radius: 12px;
}

.btn-secondary {
    margin-top: 20px;
    margin-left: 110px;
}

.collapseWindow {
    margin-top: 15px;
}

.message {
    width: 656px;
}

.userMessage {
    width: 656px;
}

