<div class="card">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="card-img-left"
                src="https://images.squarespace-cdn.com/content/55bd768ee4b08edc253b6551/1438822966851-3RYCPKV0JGVZB1CG9WPN/running-away.png?content-type=image%2Fpng"
                alt="Card image cap">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{event.title}}</h5>
                <p class="card-text">{{event.description}}</p>
                <p class="card-text"><small class="text-muted">Esemény időpontja: {{event.eventStartDate}}</small></p>
                <p class="card-text"><small class="text-muted">Létszám: min. {{event.minNumberOfPeople}} fő, max.
                        {{event.maxNumberOfPeople}} fő</small></p>
                <p class="card-text"><small class="text-muted">Költségek: {{event.price}}</small></p>
                <p class="card-text"><small class="text-muted">Kategória: {{event.categoryName}}</small></p>
            </div>
        </div>
    </div>
</div>

