<div class="card">
    <img class="card-img-left" src="" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{event.title}}</h5>
        <p class="card-text">{{event.describe}}</p>
        <p class="card-text"><small class="text-muted">Esemény időpontja: {{event.date}}</small></p>
        <p class="card-text"><small class="text-muted">Létszám: min{{event.min}} max{{event.max}} </small></p>
        <p class="card-text"><small class="text-muted">Költségek: {{event.price}}</small></p>
        <p class="card-text"><small class="text-muted">Kategória: {{event.category}}</small></p>
    </div>
</div>