img {
    margin-top: 45px;
    margin-left: 30px;
    height: 200px;
    width: 300px;
    border-radius: 12px;
}

.btn-secondary {
    margin-top: 20px;
    margin-left: 110px;
}

.collapseWindow {
    margin-top: 15px;
}

.message {
    width: 656px;
}

.userMessage {
    width: 656px;
}

.card-header {
    background-color: rgb(196, 211, 223);
    height: 70px;
}

.card-header h2{
    display: inline;
}
.card-header h5 {
    display: inline;
    margin-left: 750px;
}

