<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p class="h4 mb-4">Bejelentkezés</p>
                <div>
                    <label>E-mail cím</label>
                    <input type="email" class="form-control mb-4">
                </div>
                <div>
                    <label>Jelszó</label>
                    <input type="password" class="form-control mb-4">
                </div>
                <div class="d-flex justify-content-around">
                    <div>
                        <a href="">Elfelejtetted a jelszavad?</a>
                    </div>
                </div>
                <button class="btn btn-primary btn-block my-4" type="submit" routerLink="/user-profile"
                    (click)="close()">Belépés</button>
                <button class="btn btn-secondary btn-block my-4" (click)="close()">Mégsem</button>
            </div>
        </div>
    </div>
</div>