hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}

.card-body {
    background-color: #F2CBFE;
}

.card-style {
    width: 700px;
}

.cards {
    padding-bottom: 10px;
}

img {
    width: 500px;
    height: 300px;
    float: right;
    margin-left: 15px;
}