<div class="container">
    <app-header></app-header>
    <div class="container">
        <h2 class="describe">Bemutatkozás</h2>
        <p class="descText text-justify">
            Szeretnél hasonló érdeklődésű emberekkel megismerkedni egy kötetlen program keretein belül? Van egy jó program ötleted 
            és szeretnéd azt megvalósítani? Esetleg rész vennél olyan eseményen, amin még soha nem volt lehetőséged, de szívesen 
            kipróbálnád? Akkor a megfelelő helyen jársz, hiszen itt rengeteg különféle eseményen lehet részt venni, illetve Te magad 
            is szervezhetsz saját programokat. Csupán annyit kell tenned, hogy regisztrálsz az oldalon és már kezdődhet is a móka.
        </p>
        <p class="descText text-justify">
            Felhasználóként továbbá lehetőséged van akár magán beszélgetést is folytatni a többi felhasználóval, valamint 
            hozzászólhatsz az egyes eseményekhez tartozó fórumhoz, kérdezhetsz a program szervezőtől, értékelheted a szervezőt stb.
            Azonban a legfontosabb, hogy megismerhetsz új embereket, új barátságokat köthetsz és rengeteg különféle rendezvényen
            vehetsz részt.
        </p>
        <p class="descText text-justify">
            Ha még nem vagy biztos abban, hogy csatlakoznál-e a közösséghez, akkor előbb nézz körül az 
            <span class="font-italic">"Események"</span> oldalon és nézd meg milyen rendezvényeket rendeztek eddig, illetve, hogy mik
            az éppen aktuálisok. Reméljük ez meghozza a kedved és legközelebb már Te szervezel programot másoknak.
        </p>
        <hr>
        <h3>Legújabb események</h3>
        <div>
            <!--<app-event-card></app-event-card>-->
        </div>
    </div>
</div>
