hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}

.card-body {
    background-color: #FFE48C;
}

.card-style {
    width: 700px;
}

.cards {
    padding-bottom: 10px;
}