<div class="container">
    <div class="row">
        <div class="col">
            <label for="search">Keresés</label>
            <input id="search" type="text" class="form-control">
        </div>
        <div class="col">
            <label for="search">Kezdőidő dátum</label>
            <input id="search" type="date" class="form-control">
        </div>
        <div class="col">
            <label for="search">Vég dátum</label>
            <input id="search" type="date" class="form-control">
        </div>

        <div class="col">
            <div class="align-bottom">
                <div id="group" class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputCategory">Kategóriák</label>
                    </div>
                    <select class="custom-select" id="inputCategory">
                        <option selected>Choose...</option>
                        <option value="1">Kulturális</option>
                        <option value="2">Szabadidő</option>
                        <option value="3">Sport</option>
                        <option value="3">Turisztikai</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>