/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

body {
    background: url('https://cdn.hipwallpaper.com/i/98/30/D5VhEe.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}